{% extends "main.html" %}
{% block title %} NatureNet@ACES - {{activity.name}} {% endblock %}

{% block inner_content %}

<a href="/activities/list">Activities</a> / {{activity.name}}

<h2>{{activity.name}}</h2>    

{{activity.description | replace('\n','<p>') | safe}}

<h3>Field notes associated with this activity</h3>
{% for note in notes %}
	<div class="col-xs-2">           
	<a href="/notes/{{note.uid}}/view" class="thumbnail">
		{{note.img_thumbnail() | safe}}
	</a>
	</div>
{% endfor %}


{% endblock %}