{% extends "main.html" %}
{% block title %} NatureNet@ACES - {{activity.name}} {% endblock %}

{% block inner_content %}

	<a href="/activities/list">Activities</a> > {{activity.name}}
	
    <h2>{{activity.name}}</h2>    

    {{activity.description | replace('\n','<p>') | safe}}

    <h3>Field notes associated with this activity</h3>
    {% for note in notes %}
    	<div class="col-xs-3">           
    	<a herf="#" class="thumbnail">
			<img width="100" src="http://drive.google.com/uc?export=view&id={{note.fileId}}"/>
		</a>
		</div>
	{% endfor %}

{% endblock %}