{% extends "main.html" %}
{% block title %} NatureNet@ACES - {{landmark.name}} {% endblock %}

{% block inner_content %}

<a href="/landmarks/list">Places</a> / {{landmark.name}}

<h2>{{landmark.name}}<h2>
<img height="100" src="/static/landmark_{{landmark.uid | lower}}.png">

<h3>Field notes associated with this place </h3>
{% for note in notes %}
	<div class="col-xs-2">           
	<a href="/notes/{{note.uid}}/view" class="thumbnail">
		{{note.img_thumbnail() | safe}}
	</a>
	</div>
{% endfor %}


{% endblock %}