{% extends "main.html" %}
{% block title %}NatureNet@ACES - Field Notes{% endblock %}


{% block inner_content %}

<h1>Field Notes</h1>

<div class="row">
{% for note in notes %}
 
	<div class="col-xs-2 thumbnail">	
		<a href="/notes/{{note.uid}}/view">
    		<!--img height="50px" src="http://drive.google.com/uc?export=view&id={{note.fileId}}"-->	
    		{{note.img_thumbnail() | safe}}
    	</a>
		<a href="/users/{{note.user.uid}}/view">{{note.user.name}}</a><br>
		{{note.landmark.name}}<br>
		{{note.activity.name}}	
	</div>

{% endfor %}
</div>

</div>


{% endblock %}