{% extends "main.html" %}
{% block title %}NN - Users{% endblock %}


{% block inner_content %}
<div class="row">
	<div class="col-xs-6">
	    <h2>{{user.name}}<h2>
	    <img width=100 src="/static/{{user.avatarName | lower}}.png">

	    <h3>Field notes contributed by this person </h3>
    	{% for note in notes %}
    	<div class="col-xs-3">           
    	<a herf="#" class="thumbnail">
			<img width="100" src="http://drive.google.com/uc?export=view&id={{note.fileId}}"/>
		</a>
		</div>
		{% endfor %}

	</div>
</div>
{% endblock %}